<section id="home" class="hero-section">
  <div class="intro-wrapper" data-aos="fade-right">
    <div class="intro-text">
      <h1 data-aos="fade-up" data-aos-delay="100">
        Hi all, I'm <span class="highlight">Ragul Rao M K</span>
      </h1>

      

      

      <div class="social-links" data-aos="fade-up" data-aos-delay="500">
  <a href="https://linkedin.com/in/ragul-rao-m-k" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>
  |
  <a href="https://github.com/iam-ragul04" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  |
  <a href="https://www.neetcode.io/" target="_blank">
    <img src="/assets/neetcode.png" alt="NeetCode" class="neetcode-icon">
  </a>
</div>


      <p class="bio" data-aos="fade-up" data-aos-delay="600">
        Hi, I’m Ragul Rao M K — a Programmer Analyst Trainee at Cognizant and Computer Science graduate from SRM IST.
I work with .NET, C#, and SQL, and have explored ServiceNow and AI projects like image captioning.
I’m aiming to grow into the machine learning field, applying my skills to solve real-world problems and keep learning along the way.
      </p>

      <div class="cta-buttons" data-aos="fade-up" data-aos-delay="700">
        <a href="#footer" class="btn">CONTACT ME</a>
        <a href="/assets/RagulResume.pdf" class="btn btn-outline" target="_blank">SEE MY RESUME</a>
      </div>
    </div>
  </div>

  <div class="hero-image" data-aos="zoom-in-left" data-aos-delay="300">
    <img src="assets/undraw_building-a-website_1wrp.svg" alt="Developer at work">
  </div>
</section>
